.modal-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 10px;
  align-items: flex-end;
  width: calc(100% - 20px);
  margin: 0 auto;
  z-index: 100;
}

.modal-container span {
  font-size: 22px;
  color: #fff;
  background-color: #00000066;
  font-weight: 600;
  width: 40px;
  border-radius: 10px;
  cursor: pointer;
}
